<!DOCTYPE html>
<html>
<head>
    {{ encore_entry_link_tags('app') }}
</head>

<body>
<nav class="navbar navbar-expand-sm bg-light">
    <ul id="location_menu" class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/von_roll">Von Roll</a></li>
        <li class="nav-item"><a class="nav-link" href="/bto">BTO</a></li>
        <li class="nav-item"><a class="nav-link" href="/jbb">JBB</a></li>
        <li class="nav-item"><a class="nav-link" href="/bmu_og">BMÜ OG</a></li>
        <li class="nav-item"><a class="nav-link" href="/bmu_ug">BMÜ UG</a></li>
    </ul>
</nav>
<nav class="navbar navbar-expand-sm bg-light">
    <ul id="kal_trends" class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/calendar">Kalender</a></li>
        <li class="nav-item"><a class="nav-link" href="/trends">Trends</a></li>
    </ul>
</nav>

<div class="container mt-5 mb-5" style="width: 400px">
    <input type="text" id="picker" class="form-control">
</div>


<div class="container col-lg-5">
    <div id="main_graph" style="height:500px" class="app-chartist"
         data-option="graphA"></div>
</div>

{{ encore_entry_script_tags('app') }}
{% block javascript %}
{% endblock %}
</body>
</html>


