<!DOCTYPE html>
<html>
<head>
    {{ encore_entry_link_tags('app') }}
</head>

<body>
<nav class="navbar navbar-expand-sm bg-light">
    <ul id="location_menu" class="navbar-nav">
        <li id="von_roll" class="nav-item table-active"><a class="nav-link" href="/von_roll">Von Roll</a></li>
        <li id="bto" class="nav-item"><a class="nav-link" href="/bto">BTO</a></li>
        <li id="jbb" class="nav-item"><a class="nav-link" href="/jbb">JBB</a></li>
        <li id="bmu_og" class="nav-item"><a class="nav-link" href="/bmu_og">BMÜ OG</a></li>
        <li id="bmu_ug" class="nav-item"><a class="nav-link" href="/bmu_ug">BMÜ UG</a></li>
    </ul>
</nav>
<nav class="navbar navbar-expand-sm bg-light">
    <ul id="kal_trends" class="navbar-nav">
        <li id="c" class="nav-item table-active"><a class="nav-link" href="/c">Kalender</a></li>
        <li id="t" class="nav-item"><a class="nav-link" href="/t">Trends</a></li>
        <li id="d" class="nav-item"><a class="nav-link" href="/d">Wochentage</a></li>
        <li id="e" class="nav-item"><a class="nav-link" href="/e">Export</a></li>
    </ul>
</nav>

<div class="container" id="bib"></div>

<div class="container-fluid mt-5 mb-4 col-lg-5 col-md-5" style="width: 400px">
    <input type="text" id="picker" class="form-control" style="text-align: center" autocomplete="off" readonly="readonly">
</div>


<div class="container">
    <div id="main_graph" class="app-chartist text-center" style="height: 500px;"
         data-option="graphA"></div>
</div>

{{ encore_entry_script_tags('app') }}
{% block javascript %}
{% endblock %}
</body>


<style>
    .no-padding{
        padding-right: 0px;
        padding-left: 0px;
    }
</style>

</html>


