<!DOCTYPE html>
<html>

<h1>
    {{ encore_entry_link_tags('app') }}



</h1>


{% block body %}

    <div class="container">
        <nav class="navbar">
            <ul id="menu" class="navbar">
                <li class="active"><a href="#">First Entry</a></li>
                <li><a href="#">Second Entry</a></li>
                <li><a href="#">Third Entry</a></li>
                <li><a href="#">Fourth Entry</a></li>
            </ul>
        </nav>


        <div class="app-chartist" data-url="{{ path('data') }}"></div>

        <button type="button" id="button1" class="btn btn-lg">CLICK</button>


        <script>

            if (typeof $().emulateTransitionEnd == 'function') {
                console.log('bootstrap is actually enabled, I checked, I swear');
            }

            //useless button
            $(document).ready(function () {
                $("#button1").click(function () {
                    alert("clicked");
                });
            });


        </script>
    </div>


{% endblock %}


</html>

<style>
    ul#menu li {
        display: inline;
    }
</style>